<a href="https://colab.research.google.com/github/yac69/homeassistant-config/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nouvelle section

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import matplotlib as mpl
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [3]:
df = pd.read_csv('/content/ML.csv')
df.head()

      STOCK_COUNT_DATE  RETAIL_OUTLET_NUMBER  ...   Sales_Class      Category
0  2018-02-14 00:00:00                  6419  ...           NaN           NaN
1  2018-02-14 00:00:00                  6419  ...  Middle_Mover  PLANT BAKERY
2  2018-02-14 00:00:00                  6419  ...  Middle_Mover       GROCERY
3  2018-02-14 00:00:00                  6419  ...           NaN           NaN
4  2018-02-14 00:00:00                  6419  ...           NaN           NaN

[5 rows x 16 columns]

In [4]:
df.drop('SRM', inplace=True, axis=1)
df.drop('STOCK_COUNT_DATE', inplace=True, axis=1)
df.drop('last_stock_count_date', inplace=True, axis=1)

df['avg_sales'] = df.apply(lambda row: row.sum_sales_qty / row.nb_days_last_audit, axis=1)
# shift column 'Name' to first position 
first_column = df.pop('stock_count_qty') 
df.insert(0, 'stock_count_qty', first_column)

df.head()

   stock_count_qty  RETAIL_OUTLET_NUMBER  ...      Category  avg_sales
0                0                  6419  ...           NaN   0.035294
1                9                  6419  ...  PLANT BAKERY   0.600000
2                9                  6419  ...       GROCERY   4.545455
3                0                  6419  ...           NaN   0.047059
4                0                  6419  ...           NaN   0.058824

[5 rows x 14 columns]

In [5]:
print('Number of rows in dataset: {df.shape[0]}')
print(df[df.columns[10]].value_counts())

Number of rows in dataset: {df.shape[0]}
0       969963
4        68952
2        68383
3        62671
6        62434
         ...
5861         1
7060         1
2967         1
3815         1
3265         1
Name: sum_sales_retail, Length: 4816, dtype: int64

In [6]:
encoded_data = pd.get_dummies(df)
encoded_data.head()
encoded_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2625378 entries, 0 to 2625377
Data columns (total 36 columns):
 #   Column                                Dtype
---  ------                                -----
 0   stock_count_qty                       int64
 1   RETAIL_OUTLET_NUMBER                  int64
 2   BASE_PRODUCT_NUMBER                   int64
 3   Year_week_number                      int64
 4   BOOK_STOCK_QUANTITY                   int64
 5   SELLING_PRICE                         int64
 6   nb_days_last_audit                    int64
 7   count_transactions                    int64
 8   sum_sales_qty                         int64
 9   sum_sales_retail                      int64
 10  avg_sales                             float64
 11  stock_count_type_Auto Negative Reset  uint8
 12  stock_count_type_Gap Scan Reset       uint8
 13  stock_count_type_Stock Count          uint8
 14  Sales_Class_Fast_Mover                uint8
 15  Sales_Class_Middle_Mover              uint8
 16  Sales_Class_Slow_Mover                uint8
 17  Category_BAKERY                       uint8
 18  Category_CLOTHING                     uint8
 19  Category_FISH COUNTER                 uint8
 20  Category_FROZEN FOOD                  uint8
 21  Category_GROCERY                      uint8
 22  Category_HARDWARE                     uint8
 23  Category_HEALTH & BEAUTY              uint8
 24  Category_HORTICULTURE                 uint8
 25  Category_HOUSEHOLD                    uint8
 26  Category_MEAT                         uint8
 27  Category_NEWS/MAGS/OTHER              uint8
 28  Category_PLANT BAKERY                 uint8
 29  Category_POULTRY                      uint8
 30  Category_PRODUCE                      uint8
 31  Category_PROVN CABINET                uint8
 32  Category_PROVN COUNTER                uint8
 33  Category_TESCO MOBILE                 uint8
 34  Category_TOBACCO                      uint8
 35  Category_WINES & SPIRITS              uint8
dtypes: float64(1), int64(10), uint8(25)
memory usage: 282.9 MB

In [7]:
corrs = encoded_data.corr()['stock_count_qty']
columns = corrs[corrs > .1].index
corrs = corrs.filter(columns)
corrs

stock_count_qty        1.000000
BOOK_STOCK_QUANTITY    0.807646
sum_sales_qty          0.343309
avg_sales              0.382583
Name: stock_count_qty, dtype: float64

In [ ]:
%%time
X = encoded_data.iloc[:, 1:36]
Y = encoded_data.iloc[:, 0:1]
headers = list(X)
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size=0.1, random_state=0)





model = xgb.XGBClassifier(max_depth=4,
                        subsample=0.9,
                        objective='binary:logistic',
                        n_estimators=200,
                        learning_rate = 0.1)
eval_set = [(train_X, train_Y)]
model.fit(train_X, train_Y.values.ravel(), early_stopping_rounds=10, eval_metric=["error", "logloss"], eval_set=eval_set, verbose=True)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)